<h1>Welcome</h1>

<br/>

<h3>A sample app to demonstrate the use of `mongoid_userstamp` defining multiple configurations.</h3>

<br/>

<ul>
  <li><%= link_to "Articles", articles_path %></li>
  <li><%= link_to "Books", books_path %></li>
  <li><%= link_to "Novels", novels_path %></li>
</ul>